# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Data
data/

# Trained models
models/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

#databse
*.db

#catbost:
/home/eithar/Documents/Coding/binance_dashboard/3_Pipeline/catboost_info